<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Students</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>

<div class="container my-5">
    <div class="row">
        <form action="#" th:action="@{/add/}" th:object="${student}" method="post">
            <div class="col-md-6">
                <label for="firstName">First Name</label>
                <input id="firstName" th:field="*{firstName}" type="text" placeholder="First name"><br>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label for="lastName">Last Name</label>
                <input id="lastName" th:field="*{lastName}" type="text" placeholder="Last name"><br>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label for="cnp">CNP</label>
                <input id="cnp" th:field="*{cnp}" type="text" placeholder="cnp">
                <span th:if="${#fields.hasErrors('cnp')}" th:errors="*{cnp}" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label for="email">E-mail</label>
                <input id="email" th:field="*{email}" type="text" placeholder="email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label for="gender">Gender</label>
                <input id="gender" th:field="*{gender}" type="text" placeholder="gender">
                <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label for="age">Age</label>
                <input id="age" th:field="*{age}" type="number" placeholder="age">
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <input type="submit" value="Add student">
            </div>
        </form>
    </div>
</div>
</body>
</html>
